@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: hsl(216, 12%, 8%);
    font-family: 'Overpass', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;

}
/* this worked. id active makes it orange */
.active {
    background-color: hsl(25, 97%, 53%);
}

.container {
    background-color: hsl(213, 19%, 18%);
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 350px;
    border-radius: 15%;
    position: relative;

}

.oneStar, .howText, .tellText, .fiveStar, .submit {
    border: 1px solid white;
    width: 250px;
    height: 25px;
    color:white;
    margin-top: 20px;
    margin-left: 50px;
    text-decoration-color: aliceblue;    
}

.submit {
    border-radius: 20px;
    background-color: hsl(25, 97%, 53%);
    text-align: center;
    padding: 5px 0px;
    border: none;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;

}

.submit:hover {
    background-color: white;
    color:hsl(25, 97%, 53%)
}

.howText {
    font-weight: bolder;
    font-size: larger;
    margin-bottom: 15px;
    border: none;
}

.tellText {
    height: 90px;
    font-size: small;
    color: grey;
    border: none;
    margin-bottom: 0px;
}

.fiveStar {
    display: flex;
    margin: 0px 0px 70px 50px;
    border: none;
    
}


.eachStar {
    width: 40px;
    height: 40px;
    border: 1px solid white;
    padding: 10px 14px;
    border-radius: 50%; 
    margin-right: 9px;  
    
}
.eachStar:hover {
    background-color: lightgray;
}
#oneStar {
    color: hsl(25, 97%, 53%);
    margin-left: 50px;
    margin-top: 30px;
}


